# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
asgiref==3.4.1
ca-certificates==2021.5.30
django==3.2.7
django-environ==0.4.5
djangorestframework==3.12.4
krb5==1.19.2
libcxx==12.0.1
libedit==3.1.20191231
libpq==13.3
ncurses==6.2
openssl==1.1.1l
pip==21.2.4
psycopg2==2.9.1
python==3.9.7
python_abi==3.9
pytz==2021.1
readline==8.1
setuptools==58.0.4
six==1.16.0
sqlite==3.36.0
sqlparse==0.4.2
tk==8.6.11
typing_extensions==3.10.0.0
tzdata==2021a
wheel==0.37.0
xz==5.2.5
zlib==1.2.11
